# HNU 3059 (HNU 6059) - Séance 1 - Pratique

Lien vers le cours sur StudiUM: https://studium.umontreal.ca/course/view.php?id=278064

⬅ lien vers le précédent notebook: https://github.com/alix-tz/HNU6059/blob/main/jour_1/HNU3059_E2023_S1_Th%C3%A9orie.ipynb

# Contenu de ce notebook

1. Syntaxe Python
2. Variables
3. Types
4. Fonctions
5. Listes
6. Bonus

# Discutons de la vidéo de Machine Learnia

Lien vers la vidéo : https://www.youtube.com/watch?v=doFpNjdmsw8

- qu'en avez-vous retenu ?

# Syntaxe Python

- caractères "réservés"
    - `#`
    - `-` `+` `*` `/` `=` `'` `"` `,` `<` `>` `:`
- indentation (ou tabulation)
- distinguer "ceci" et ceci
- 1 ligne = 1 instruction
- execution de haut en bas

La [PEP 8](https://peps.python.org/pep-0008/) (*Python Enhancement Proposal*) définit des bonnes pratiques et des conventions pour assurer la lisibilité d'un code Python.

➡ https://peps.python.org/pep-0008/

Voir par exemple la section sur l'indentation.

# Opérations mathématiques et logiques

### Opérateurs mathématiques

On peut faire des maths avec Python

In [ ]:
# addition
2 + 2

4

In [ ]:
# soustraction
10 - 10

0

In [ ]:
# multiplication
2 * 10

20

In [ ]:
# division décimale
10 / 3

3.3333333333333335

In [ ]:
# division entière
10 // 3

3

In [ ]:
# reste de la division entière
10 % 3

1

In [ ]:
# puissance (rarement utilisé)
10 ** 2

100

### Opérateurs logiques

On a aussi des opérateurs logiques pour comparer des valeurs entre elles. La réponse est toujours "True" (vrai) ou "False" (faux).

In [ ]:
# 2 est-il plus grand que 2?
2 > 2

False

In [ ]:
# 4 est-il plus petit que 10?
4 < 10

True

In [ ]:
# 4 est-il plus petit ou égal à 10?
4 <= 10

True

In [ ]:
# 10 est-il égal à 11?
10 == 11

False

In [ ]:
# 10 est-il différent de 11?
10 != 11

True

Il y a d'autres opérateurs logiques, mais nous les verrons plus tard.

# Variables

## Qu'est-ce qu'une variable ?

- un emplacement de la mémoire de la machine
- un nom pour désigner cet emplacement 
- dans l'emplacement, on stocke des valeurs (du texte, des nombres, etc)
- on a besoin des variables pour la programmation

In [ ]:
# sans variable
print(1 + 1)

# avec variable
contenant = 1
print(contenant + contenant)

2
2

Dans le bloc ci-dessus, le résultat est le même (affichage du nombre 2), mais avec des variables, on peut réutiliser la valeur pour autre chose.

In [ ]:
contenant = 1
print(contenant + contenant)

contenant = contenant + contenant
print(contenant)

2
2

## Définition d'une variable et assignation d'une valeur

- On utilise `=` (un seul symbole égal) pour enregistrer une valeur dans une variable

- Chaque fois qu'on enregistre une valeur dans une variable, on écrase la valeur qu'elle contenait précédemment

- On ne peut pas avoir 2 variables portant le même nom

- Par contre les noms de variables sont sensibles à la casse (`ma_variable` n'est pas la même variable que `Ma_variable`)

In [ ]:
ma_variable_de_demo = 1
print(ma_variable_de_demo)

ma_variable_de_demo = 2
print(ma_variable_de_demo)

ma_variable_de_demo = ma_variable_de_demo + ma_variable_de_demo
print(ma_variable_de_demo)

ma_variable_de_demo = ma_variable_de_demo + ma_variable_de_demo
print(ma_variable_de_demo)

1
2
4
8

## Convention de nommage des variables

### Causes de bugs

- pas de mot-clef réservé
- ne doit pas commencer ou contenir un caractère réservé
- ne doit pas commencer par un chiffre

In [ ]:
# pour voir la liste des mots-clefs réservés:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
# essayons de créer une variable qui commence par un chiffre
1_variable = 2023

SyntaxError: ignored

In [ ]:
# essayons de créer une variable qui commence par un caractère réservé
+_de_variables = 2023

SyntaxError: ignored

In [ ]:
# essayons de créer une variable nommé d'après un mot-clef
lambda = 2023

SyntaxError: ignored

⚠ Attention! Tous les mots-clefs ne sont pas "protégés" par un message d'erreur !

```python
# on peut parfaitement poser comme instruction ceci
print = 2023

# mais si on fait ça, on ne peut plus utiliser l'instruction print() pour afficher le contenu d'une variable...
```

### Bonnes pratiques


- un nom de variable explicit (pas `a` mais `mes_mots_clefs`)
- éviter les caractères ambigus (`ma_variable_1` sont proches visuellement `ma_variable_l`)
- un nom qui décrit le contenu de la variable (pas `variable_1` mais `mon_prenom`)

Voyons ce qu'en dit la [PEP 8](https://peps.python.org/pep-0008/)!

# Types

- numériques:
    - entier (int / integer): `42`
    - décimal (float): `42.0`
- itérables:
    - chaîne de caractères (str / string): `"42"`
    - liste de valeurs (list): `[1,2,3]`
- autres:
    - booléen (bool / boolean): `True`/`False`


Il existe bien d'autres types de valeurs en Python, mais contentons-nous de ceux-là pour le moment.

## Type()

On peut utiliser `type()` pour connaître le type d'une valeur ou d'une variable.

In [ ]:
type(2023)

int

In [ ]:
année = 2023
type(année)

int

In [ ]:
print(type(42),
      type(42.0),
      type("42"),
      type(True),
      type([1,2,3]),
      sep="\n")

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>

## Conversions

On peut convertir certaines valeur d'un type à un autre à l'aide des fonctions suivantes: 
- `int()`
- `float()`
- `str()`
- `bool()`
- `list()`

Mais attention, toutes les conversions ne fonctionnent pas!

On utilise souvent `int()` ou `float()` sur une chaîne de caractère pour pouvoir faire des opérations mathématiques.

In [ ]:
valeur_x = "10"
valeur_y = "3.2"


# si on additionne deux chaînes de caractères, on ne fait que les coller l'une à la suite de l'autre (concaténer)
print(valeur_x + valeur_y)

103.2

In [ ]:
# on change valeur_x en entier et valeur_y en décimal pour pouvoir les additionner
print(int(valeur_x) + float(valeur_y))

13.2

On peut aussi transformer une chaîne de caractères en une liste puisque ces deux types appartiennent à la catégorie des itérables.

In [ ]:
mon_prenom = "Jean"
print(mon_prenom)
print(list(mon_prenom))

Jean
['J', 'e', 'a', 'n']

Certaines conversions sont impossibles (le plus souvent parce qu'elles sont illogiques).

In [ ]:
print(list(42))

TypeError: ignored

In [ ]:
print(int("Jean"))

ValueError: ignored

In [ ]:
print(float([2,3,4]))

TypeError: ignored

# Il est temps pour...

<img src="https://boisestate.pressbooks.pub/app/uploads/sites/144/2022/05/2-2.png" width="600px">

# Fonctions

- permet de réaliser une action (transformer une valeur, créer une nouvelle valeur, faire quelque chose avec cette valeur, etc)
- est appelée grâce à son nom
- peut "prendre un argument", c'est-à-dire qu'elle va ingérer une ou des valeurs pour produire un résultat
- peut être "built-in" ou définie explicitement

### Fonctions built-in

Jusqu'ici, on a utilisé plusieurs fonctions built-in:

- `print()` 
    - affiche ce qui lui est passé en argument
- `type()` 
    - renvoie le type de la valeur qui lui est passé en argument
- `help()` 
    - renvoie une description/explication sur ce qui lui est passé en argument
- `float()` et les fonctions de conversions 
    - convertit une valeur passée en argument en une autre

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

Les fonctions built-in existent par défaut dans le programme, on n'a pas besoin de les définir nous-même.

## Définition de fonctions

- permet de créer ses propres fonctions
- évite de répéter plusieurs fois une même série d'instructions
- aide la lisibilité d'un code en identifiant des actions
- un bloc d'instructions

- `def`: mot-clef (définition)
- `nom de la fonction`: mêmes règles que pour le nommage des variables
- `()`: pour définir les éventuels arguments
- `:`: pour poursuivre avec un bloc indenté
- toutes les instructions réalisées au sein de la fonction sont identées
- fin d'indentation : fin de la fonction

In [ ]:
def table_de_deux():
    """cette fonction affiche la table de multiplication par 2"""
    print(1 * 2)
    print(2 * 2)
    print(3 * 2)
    print(4 * 2)
    print(5 * 2)
    print(6 * 2)
    print(7 * 2)
    print(8 * 2)
    print(9 * 2)
    print(10 * 2)

## Appel de fonction

- la fonction doit exister
- les parenthèses sont importantes

In [ ]:
table_de_deux()

2
4
6
8
10
12
14
16
18
20

In [ ]:
help(multiplie_par_deux)

Help on function multiplie_par_deux in module __main__:

multiplie_par_deux(nombre)

## Arguments (ou paramètres)

Pour rendre les fonctions utiles, on a besoin qu'elles prennent en charge des variables.

- les sous-variables pour la fonction
- peuvent avoir des valeurs par défaut

In [ ]:
# la fonction "help()" prend comme argument "print"
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
# la fonction print prend plusieurs arguments
# certains ont des valeurs par défaut, comme 'sep', que l'on peut modifier
print("argument", sep="\n")

ceci est un argument

Préciser les arguments d'une fonction se fait entre les `()` au moment de sa définition.

In [ ]:
def multiplie_par_deux(nombre):
    """cette fonction multiplie un nombre par deux et affiche le résultat"""
    print(nombre * 2)

On peut maintenant faire varier le résultat de la fonction, en fonction de la valeur qu'on lui donne en entrée !

In [ ]:
# amuez-vous à changer la valeur passée à la fonction multiplie_par_deux()
multiplie_par_deux(3)

6

Les valeurs "par défaut" sont aussi définies au moment de la définition de la fonction

In [ ]:
def multiplie(nombre, multiplicateur=2):
    """cette fonction multiplie un nombre par un autre nombre (multiplicateur), par défaut fixé à 2"""
    print(nombre * multiplicateur)

In [ ]:
multiplie(3)

6

In [ ]:
multiplie(3, multiplicateur=3)

9

## Renvoyer une valeur

- transformation d'une valeur par la fonction
- `return`

In [ ]:
def soustrait(nombre_de_base, valeur_soustraite):
    """Soustrait une valeur à un nombre de base"""
    resultat = nombre_de_base - valeur_soustraite

# rien de visible ne se passe
soustrait(1, 4)

# par défaut, en Python, une fonction ne renvoit rien (None)
print(soustrait(1, 4))

None

In [ ]:
def soustrait(nombre_de_base, valeur_soustraite):
    """Soustrait une valeur à un nombre de base"""
    resultat = nombre_de_base - valeur_soustraite
    return resultat

# rien de visible ne se passe
soustrait(1, 4)

# mais cette fois-ci, la fonction renvoie le contenu de resultat
print(soustrait(1, 4))

-3

In [ ]:
def soustrait(nombre_de_base, valeur_soustraite):
    """Soustrait une valeur à un nombre de base"""
    resultat = nombre_de_base - valeur_soustraite
    return resultat

un_nombre = 13

# on peut récupérer la valeur dans une nouvelle variable
un_nombre_transformé = soustrait(un_nombre, 21)

# mais cette fois-ci, la fonction renvoie le contenu de resultat
print(un_nombre_transformé)

-8

In [ ]:
multiplie_par_deux(un_nombre_transformé)

-16

Grâce aux variables et aux fonctions, on sort de la programmation "calculette" pour entrer dans la programmation en template.

# Il est temps pour...

<img src="https://boisestate.pressbooks.pub/app/uploads/sites/144/2022/05/2-2.png" width="600px">

# Remarque sur les fonctions et les méthodes

- quelle est la différence ?
- pourquoi a-t-on deux types de fonctions ?

```python
ceci_est_une_fonction({valeur})

{objet}.ceci_est_une_méthode({valeur})
```

In [2]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [1]:
help(sort)

NameError: ignored

In [3]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

# Les listes

## Construction des listes

- ensemble de valeurs
- indexé
- multi-type

In [ ]:
# une liste vide
[]

[]

In [ ]:
# une liste de lettres
["A", "B", "C", "D"]

['A', 'B', 'C', 'D']

In [ ]:
# une liste de nomres
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
# une liste de floats
[3.14, 2.2, 150.0]

[3.14, 2.2, 150.0]

In [ ]:
# une liste de booléens
[True, False, True]

[True, False, True]

In [ ]:
# une liste de valeur de différents types
encore_un_autre_type = type(3)

[True, 2023, "hello", 4.5, encore_un_autre_type]

[True, 2023, 'hello', 4.5, int]

In [ ]:
# une liste de liste

[[3.14, 2.2], [True, 2023], [3, 4, 5]]

[[3.14, 2.2], [True, 2023], [3, 4, 5]]

On vera d'autres types d'objets plus adaptés, mais ça permet par exemple de rassembler des informations qui vont ensemble

In [ ]:
une_etudiante = [2019, 4.3, "Jeanne", True]

In [ ]:
des_etudiants = [une_etudiante, 
                 [2021, 4.0, "Serge", True]]

## Indexation

- accès à une information dans la liste
- commence à zéro
- `[]`

In [ ]:
# le prénom est la 3e information dans la liste, donc on vise le 3e index (2)
print("prenom:", une_etudiante[2])

prenom: Jeanne

In [ ]:
print("prenoms:", des_etudiants[0][2], des_etudiants[1][2], sep="\n")

prenoms:
Jeanne
Serge

## Opérations avec les listes

- addtionner des listes

In [ ]:
[1,2,3] + [4,5]

[1, 2, 3, 4, 5]

- multiplier une liste

In [ ]:
3 * [1, 2, 3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

- soustraire des listes?

In [ ]:
[1, 2, 3] - [2, 3]

TypeError: ignored

- diviser des listes?

In [ ]:
[2,2,2,2,2] / 2

TypeError: ignored

On ne peut pas soustraire ou diviser des listes, c'est logique.

Il y a d'autres manières d'ajouter ou d'enlever des éléments dans une liste, mais on les verra plus tard.

- `ma_liste.pop({valeur})`
- `del ma_liste[{index}]`
- `ma_list.append({valeur})`

Il y a plein de choses à connaître sur les listes : https://python.doctor/page-apprendre-listes-list-tableaux-tableaux-liste-array-python-cours-debutant

# Il est temps pour...

<img src="https://boisestate.pressbooks.pub/app/uploads/sites/144/2022/05/2-2.png" width="600px">

# S'il nous reste du temps

- parlons des f-strings
- creusons un peu plus le terrain des listes

# Lien vers le prochain notebook

➡ https://github.com/alix-tz/HNU6059/blob/main/jour_1/HNU3059_E2023_S1_Exercices.ipynb